alloy:
  config: |
    livedebugging {
      enabled = true
    }

    otelcol.receiver.otlp "default" {
      grpc {
        endpoint = "0.0.0.0:4317"
      }
      http {
        endpoint = "0.0.0.0:4318"
      }

      output {
        metrics = [otelcol.processor.batch.default.input]
        traces  = [otelcol.connector.spanmetrics.default.input, otelcol.processor.batch.default.input]
      }
    }

    otelcol.processor.batch "default" {
      output {
        metrics = [otelcol.exporter.prometheus.default.input]
        traces  = [otelcol.exporter.otlp.tempo.input]
      }
    }

    otelcol.connector.spanmetrics "default" {
      dimension {
        name = "http.method"
      }
      dimension {
        name = "http.status_code"
      }
      histogram {
        explicit {
        }
      }
      output {
        metrics = [otelcol.exporter.prometheus.default.input]
      }
    }

    otelcol.exporter.otlp "tempo" {
      client {
        endpoint = "tempo:4317"
        tls {
          insecure = true
        }
      }
    }

    otelcol.exporter.prometheus "default" {
      forward_to = [prometheus.remote_write.default.receiver]
    }

    prometheus.remote_write "default" {
      endpoint {
        url = "http://prometheus-server/api/v1/write"
      }
    }
